* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --lightbrown: #e2a43a;
  --primarydarkblue: #030712;
  --lightbrowntext: #332000;
  --translucentbrown: rgba(54, 35, 2, 0.5);
  --backgroundbrown: #1e1816;
  --lightblueishgray: #111827;
  --secondary-text: #b8bfc4;
  --secondary-wrapper:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
;
}
body {
  font-family: sans-serif;
  width: 100vw;
  background-color: var(--primarydarkblue);
  color: #fff;
}
/*####################################### HEADER STARTS HERE  #######################################*/
.header {
  background-color: rgb(3 7 18) / 10;
  /* opacity: 0.9; */
  z-index: 100;
  backdrop-filter: blur(50px);
  height: 9vh;
  margin-bottom: 9vh;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  text-decoration: none;
  /* width: 100%; */
  margin: 0 auto;
  border-bottom: 1px solid var(--secondary-text);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  text-decoration: none;
  width: 20%;

  text-align: center;
}

.header-logo-text {
  font-size: 30px;

  color: #fff;
}
.logo-text-1 {
  font-family: "Gideon Roman", serif;
  text-decoration: none;
}
.logo-text-2 {
  font-family: "Cormorant Garamond", serif;
}
.header-nav {
  width: 60%;
  display: flex;
  justify-content: center;
}
.nav-ul {
  display: flex;
  width: 70%;
  justify-content: space-around;
  /* background: rebeccapurple; */
}
.nav-ul li {
  list-style-type: none;
  /* color: #fff; */
  font-weight: bold;
}
.nav-ul li a {
  text-decoration: none;
  color: var(--secondary-text);
  font-family: sans-serif;
  font-size: 14px;
}
.nav-ul li a:hover {
  /* color: #fff; */
  transition: 0.3s;
}
.header-misc {
  /* width: 0%; */
  background-color: var(--lightbrown);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 800;
}
.header-misc:hover {
  background-color: #6b4709;
  cursor: pointer;
  transition: 0.3s;
}
/* ####################################### HEADER ENDS HERE ####################################### */

/*####################################### FOOTER STARTS HERE /*#######################################*/

footer {
  background-color: var(--primarydarkblue);
  width: 80%;
  margin: 0 auto;
  padding: 35px 0px;
}
.upper-footer-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
/* ############################ FOOTER CONTACT INFO STARTS HERE  ################### */
.footer-logo {
  font-size: 35px;
  /* color: #fff; */
  padding: 15px;
}
.footer-logo-text-1 {
  font-family: "Gideon Roman", serif;
  text-decoration: none;
}
.footer-logo-text-2 {
  font-family: "Cormorant Garamond", serif;
}
.footer-contact-info {
  width: 20%;
  line-height: 22px;
}
.footer-description {
  color: var(--secondary-text);
  padding: 20px 15px;
  /* font-weight: 50; */
}
.footer-number,
.footer-message,
.footer-location {
  color: var(--secondary-text);
  padding: 10px 15px;
  display: flex;
  gap: 10px;
}
.email-text {
  text-decoration: none;
  color: var(--secondary-text);
}
.email-text:hover {
  /* color: #fff; */
  transition: 0.3s;
}
.phone-icon,
.email-text,
.location-icon {
  height: 2px;
  text-align: center;
}

svg {
  fill: var(--secondary-text);
  padding-top: 3px;
}

.insta-link-icon,
.pinterest-link-icon,
.linkedin-link-icon {
  padding: 8px 13px;
  border: 1px solid --secondary-text;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background-color: #1f2937;
  margin: 0px 8px;
}
.insta-link-icon:hover,
.pinterest-link-icon:hover,
.linkedin-link-icon:hover {
  background-color: #465366;
  cursor: pointer;
  transition: 0.3s;
}
.insta-link-icon:hover svg,
.pinterest-link-icon:hover svg,
.linkedin-link-icon:hover svg {
  /* fill: #fff; */
  transition: 0.3s;
}
.insta-icon,
.pinterest-icon,
.linkedin-icon {
  height: 25px;
  /* color: #fff; */
}
/* ############################ FOOTER CONTACT INFO ENDS HERE  ################### */

/* ############################ FOOTER SERVICE INFO STARTS HERE  ################### */

.footer-services-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-services-info h3 {
  /* color: #fff; */
}
.footer-services-info ul {
}
.footer-services-info li {
  list-style-type: none;
  padding: 5px 0px;
}
.footer-services-info ul li a {
  text-decoration: none;
  color: var(--secondary-text);
}
.footer-services-info ul li a:hover {
  color: #fff;

  transition: 0.3s;
}

/* ############################ FOOTER SERVICE INFO ENDS HERE  ################### */

/* ############################ FOOTER RESOURCES INFO STARTS HERE  ################### */

.footer-resources-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-resources-info h3 {
  /* color: #fff; */
}
.footer-resources-info ul {
}
.footer-resources-info li {
  list-style-type: none;
  padding: 5px 0px;
}
.footer-resources-info ul li a {
  text-decoration: none;
  color: var(--secondary-text);
}
.footer-resources-info ul li a:hover {
  color: #fff;

  transition: 0.3s;
}

/* ############################ FOOTER RESOURCES INFO ENDS HERE  ################### */

/* ############################ FOOTER COMPANY INFO STARTS HERE  ################### */

.footer-company-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-company-info h3 {
  /* color: #fff; */
}
.footer-company-info ul {
}
.footer-company-info li {
  list-style-type: none;
  padding: 5px 0px;
}
.footer-company-info ul li a {
  text-decoration: none;
  color: var(--secondary-text);
}
.footer-company-info ul li a:hover {
  color: #fff;

  transition: 0.3s;
}

/* ############################ FOOTER COMPANY INFO ENDS HERE  ################### */

/* ################################# BOTTOM FOOTER CONTENT ########################### */
.bottom-footer-content {
  color: var(--secondary-text);
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
  border-top: 0.1px solid var(--secondary-text);
  padding: 35px 0px;
}
.bottom-footer-content ul {
  display: flex;
  gap: 40px;
}
.bottom-footer-links ul li {
  list-style-type: none;
}
.bottom-footer-links a {
  text-decoration: none;
  color: var(--secondary-text);
  gap: 10px;
}
.bottom-footer-links a:hover {
  color: #fff;
  transition: 0.3s;
}
/*####################################### FOOTER ENDS HERE /*#######################################*/

/* ################################################ Main starts here ################################################ */
main {
  width: 100vw;
}
.p-class {
  margin-top: 9vh;
  background-color: purple;
}
.building-svg {
  fill: var(--lightbrown);
  height: 25px;
}
.landing-section {
  width: 100vw;
  margin-top: 9vh;

  height: 105vh;
  /* background-color: green; */
  /* background-color: beige; */
  border-bottom: 1px solid rgb(255 255 255 / 25%);
}
.section-main-div {
  /* background-color: greenyellow; */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/main-landing.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}
.info-container {
  width: 80%;
}
.section-top-icon-div {
  display: flex;
  width: 20%;
  justify-content: space-around;
  background-color: rgb(255 255 255 / 25%);
  backdrop-filter: blur(10px);
  padding: 5px 20px;
  border-radius: 50px;
  color: var(--secondary-text);
  align-items: center;
}
.section-top-info-div {
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: maroon; */
  margin: 0 auto;
  padding-top: 10vh;
}

.section-top-info-div-h2 {
  font-size: 80px;
  width: 65%;
  padding: 15px 0px 0px 0px;
  font-family: "Cormorant Garamond", serif;
}
.section-top-info-div-p {
  color: var(--secondary-text);
  font-size: 22px;
  margin: 20px 0px;
  width: 45%;
  padding: 20px 0px;
}
.section-top-info-div-category {
  display: flex;
  gap: 10px;
}
.section-top-info-div-category p {
  padding: 12px 20px;
  background-color: rgb(255 255 255 / 25%);
  border-radius: 50px;
  backdrop-filter: blur(10px);
}
.section-top-info-div-formore {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}
.section-top-info-div-formore p:nth-child(1) {
  background-color: var(--lightbrown);
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border-radius: 50px;
  gap: 5px;
  color: #fff;
  font-weight: bold;
}
.section-top-info-div-formore p:nth-child(1):hover {
  cursor: pointer;
}
.section-top-info-div-formore p:nth-child(2) {
  padding: 12px 20px;
  background-color: rgb(255 255 255 / 25%);
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

/* MAIN LANDING SECTION LOWER DIV */

.section-bottom-div {
  display: flex;
  justify-content: space-between;
  /* background-color: brown; */

  height: 15vh;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  /* padding: 20px 0px; */
}
.bottom-div-1,
.bottom-div-2,
.bottom-div-3,
.bottom-div-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-div-1 h3,
.bottom-div-2 h3,
.bottom-div-3 h3,
.bottom-div-4 h3 {
  font-size: 82px;
  font-family: "Cormorant Garamond", serif;

  font-weight: 300;
}

/* SECOND SECTION */
.expertise-section {
  width: 80%;
  /* background-color: maroon; */
  margin: 100px auto;
  /* height: 18vh; */
}
.expertise-section-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background: maroon; */
}
.expertise-section-container1 > * {
  margin: 10px 0px;
}
.expertise-section-container1 p:first-child {
  background-color: var(--lightbrowntext);
  color: var(--lightbrown);
  padding: 10px 15px;
  border-radius: 50px;
  margin: 10px;
}
.expertise-section-container1 h2 {
  font-size: 42px;
  font-family: "Cormorant Garamond", serif;
}
.expertise-section-container1 p:last-child {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  text-align: center;
  color: grey;
}
.expertise-section-container2 {
  width: 100%;
  /* background-color: rgb(63, 30, 2); */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
}
.grid-container > * {
  margin: 10px;
  background-color: var(--lightblueishgray);
  border-radius: 20px;
  height: 30vh;
}
.flex-inside-grid {
  padding: 30px;
  border: 1px solid var(--lightblueishgray);
}
.flex-inside-grid:hover {
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.flex-inside-grid div {
  color: var(--lightbrown);
  background-color: var(--translucentbrown);
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}
.flex-inside-grid div span {
  font-size: 42px;
}
.flex-inside-grid h4 {
  font-size: 26px;
  font-family: "Cormorant Garamond", serif;
  padding: 10px;
  margin: 10px 0px;
}
.flex-inside-grid p {
  font-family: 16px;
  color: grey;
  padding: 5px 10px;
}
.para-box {
  display: flex;
  align-items: center;
}
.flex-inside-grid p a {
  text-decoration: none;
  color: var(--lightbrown);
}
.para-box .material-symbols-outlined {
  color: var(--lightbrown);
}
/* IMAGE SECTION */
.image-section {
  width: 100%;
  margin: 100px auto;
  height: 140vh;
  padding-top: 100px;
  background-color: var(--lightblueishgray);
}
.image-section-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.image-grid {
  margin: 0 auto;
  width: 80%;
  display: grid;
  height: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}
.images {
  /* background-size: cover; */

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.images:hover p:nth-child(1),
.images:hover p:nth-child(2),
.images:hover {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
.images:hover {
}
.images p:nth-child(1) {
  color: var(--lightbrown);
  margin: 2px 0px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.9s ease,
    visibility 0.9s ease;
}
.images p:nth-child(2) {
  color: #fff;
  font-family: "Gideon Roman", serif;
  font-weight: bold;
  font-size: 26px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.9s ease,
    visibility 0.9s ease;
  margin: 2px 0px;
}

.image-div1 {
  order: 1;
  background-image: url(/images/gabel.jpeg);
  background-size: cover;
}

.image-div2 {
  order: 2;
  background-image: url(/images/ofiice.jpeg);
  background-size: cover;
}
.image-div3 {
  grid-row: 1/3;
  order: 3;
  background-image: url(/images/penthouse.jpeg);
  background-size: cover;
}
.image-div4 {
  background-size: cover;
  background-image: url(/images/mandarin.jpeg);
  /* order: 4; */
}
.image-div5 {
  grid-row: 2/4;
  background-image: url(/images/brickwell.jpeg);
  background-size: cover;
  /* order: 5; */
}
.image-div6 {
  background-image: url(/images/wynwood.jpeg);
  background-size: cover;
  /* order: 6; */
}
.image-section-info > * {
  margin: 10px 0px;
}
.image-section-info p:first-child {
  background-color: var(--lightbrowntext);
  color: var(--lightbrown);
  padding: 10px 15px;
  border-radius: 50px;
  margin: 10px;
}
.image-section-info h2 {
  font-size: 42px;
  font-family: "Cormorant Garamond", serif;
}
.image-section-info p:last-child {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 30%;
  text-align: center;
  color: grey;
}
